button {
    border: none;
    background-color: darkgrey;
}

.func {
    background-color: grey;
}

.yellow {
    background-color: yellow;
}

#display {
    background-color: rgb(60, 60, 60);
    color: white;
    display: flex;
    justify-content: flex-end;
    padding: 5px 10px 5px 5px;
    font-size:x-large;
}

#buttons {
    background: rgb(60, 60, 60); 
}

.lgfont {
    font-size: large;
}

.container {
    width: 10%;
    display:flex;
    flex-direction: column;
    background:red;
}

.row {
    display: flex;
}

.row button {
    flex: 1;
    margin: 1px;
    height: 30px;
}